


#hero {
  background-color: black;/*背景の色設定*/
  width:100%;/*横*/
  height: 800px;/*縦*/
}
#hero img{

    /*width: 300px;*/
    height: 300px;
    display: block;/*中央よせ*/
    margin: 0 auto;/*左右の余白を均等に*/
    padding-top: 200px;/*要素の内側の上方向に余白*/
    
}
#hero p
{
     font-size: 40px;/*フォントのサイズ*/
    text-align: center;/*テキスト中央揃え*/
    color:#FFCCCC;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;/*フォント太さ*/
    font-style: normal;/*斜体にしない*/
}
.fs
{
    display: block;
    background-color: #CB1FFF;
   /* width:100%;*/
    height:100px;
}
.tit
{
    color:black ;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-snap-align: start();
}
.profinfo p
{
    color:black;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 100px;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gm1info p,.gm2info p,.gm3info p
{
    color:black;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 100px;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.gm1info img
{
    /*width: 600px;*/
    height: 400px;
    display: block;
    margin: 0 auto;
}
.gm2info img,.gm3info img
{
    /*width: 600px;*/
    height: 300px;
    display: block;
    margin: 0 auto;
}
.sns_f
{
    color:black ;
    padding-top: 200px;
    text-align: center;
    font-size: 40px;
    
}
.snsinfo
{
    color:black ;
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}
.sns
{
    height: 800px;
    width:100%;
    background-image: url(0101.png);
    background-position: center;
    background-size:cover;/*サイズ*/
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.profinfo ,.gm1info ,.gm2info,.gm3info
{
    height : 700px;
    width:100%;
}
.profinfo
{
    background-image: url("0202.png");
    background-position: center;/*背景の位置設定*/
    background-size:cover;/*サイズ*/
}
.gm1info
{
    background-image: url(0505.png);
    background-position: center;/*背景の位置設定*/
    background-size:cover;
    
}
.gm2info
{
    background-image: url(0404.png);
    background-position: center;/*背景の位置設定*/
    background-size:cover;/*サイズ*/
}
.gm3info
{
     background-image: url(0303.png);
    background-position: center;/*背景の位置設定*/
    background-size:cover;/*サイズ*/
}
.container
{
    height: 100vh;
    overflow: auto;/*スクロール許可*/
    scroll-snap-type: y mandatory;/*方向指定*/
}
.fs, #hero,.sns
{
    scroll-snap-align: start;/*スクロールスナップ*/
}





